{% extends 'base.html' %}
{% block TITLE %}Добавить товар{% endblock TITLE %}
{% block BODY %}
<h1>Заказ</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Наименование</th>
        <th scope="col">Количество</th>
        <th scope="col">Изменить количество</th>
        <th scope="col">Цена</th>
      </tr>
    </thead>
    
    
    <tbody>
        {% for good_in_cart in object.goods.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{good_in_cart.good.name}}</td>
        <td>{{good_in_cart.quantity}}</td>
        <td><button type="button" onclick = "addGood({{good_in_cart.good.pk}})" class="btn btn-outline-primary btn-sm">+</button>
          <button type="button" onclick = "deleteGood({{good_in_cart.good.pk}})" class="btn btn-outline-danger btn-sm">-</button></td>
        <td>{{good_in_cart.price}}</td>
      </tr>
      {% endfor%}
      <tr>
        <td colspan="2">Общая</td>
        <td >{{object.total_quantity}}</td>
        <td > </td>
        <td >{{object.total_price}}</td>
        
      </tr>  
    </tbody>
  </table>
  {% if object.goods.all %}
    <a href="{% url 'order:create-order'%}" class = "btn btn-outline-primary">Оформить заказ</a>
  {% endif %}  
  <script>
    function addGood(pk) {
      console.log("add " +pk)
      redirect("add", pk)
    }
    function deleteGood(pk) {
      console.log("delete " + pk)
      redirect("delete", pk)
    }
    function redirect(action, pk){
      window.location.href=`{% url 'order:cart-edit' %}?action=${action}&good_id=${pk}`
    }
  </script>
{% endblock BODY %}