{% extends 'base.html' %}
{% block TITLE %}Контакты{% endblock TITLE %}
{% block BODY %}

<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
<h1>Контакты</h1>
<h2>
    <p class="mb-2">playtoy.by - Детские игрушки по всей Беларуси </p>
    <p class="mb-2">+375293534545</p>
    <p class="mb-2">+375333534545</p>
    <p class="mb-2">Контактное лицо Светлана</p>
    <p class="mb-2">г.Минск</p>
    <p class="mb-2">УНП 691525844</p>
    <p class="mb-2">р/с  0101000000 ООО "МТБ банк"</p></h2>
{% endblock BODY %}