{% extends 'base.html' %}
{% block TITLE %}Товар{% endblock TITLE %}
{% block BODY %}
    <h1> Название товара: {{object.name}} </h1>
    <b> Артикул товара: {{object.item_number}}</b><br>
    <img src="{{object.picture.url}}" ><br>
    <img src="{{object.product_picture_med}}" ><br>
    <img src="{{object.product_picture_small}}" ><br>
    <b> Описание товара: {{object.description}} </b><br>
    <b> Цена: {{object.price}}</b><br>
    <b> Категория товара: {{object.category}}</b><br>
    <b> Тип товара: {{object.type}}</b><br>
    <b> {% if object.country %} Страна производителя: {{object.country}} <br>{% endif %}</b>
    <b> {% if object.brand %}
        Бренд: {{object.brand}}<br>
        {% endif %}
    </b>
    <b> Видимость: {{object.enable}}</b><br>
    <b> {% if object.count %}
        Наличие товара: Товар есть на складе
        {% else %}
        Товара нет в наличии
        {% endif %}
    </b><br>
    <b> Поисковые запросы: {{object.search_terms}}</b><br>
    <b> Скидка в %: {{discount}}</b><br>
    
    
{% endblock BODY %}