{% extends 'base.html' %}
{% load comment_tag %}
{% block TITLE %}Товар{% endblock TITLE %}
{% block BODY %}
    <h1> Название товара: {{object.name}} </h1>
    <b> Артикул товара: {{object.item_number}}</b><br>
    <img src="{{object.picture.url}}" ><br>
    <img src="{{object.product_picture_med}}" ><br>
    <img src="{{object.product_picture_small}}" ><br>
    <b> Описание товара: {{object.description}} </b><br>
    {%if object.discount%}
    <b> Цена со скидкой: {{object.get_sale}} Старая цена: {{object.price}}</b><br>
    {% else %}
    <b> Цена: {{object.price}}</b><br>
    {% endif %}
    <b> Категория товара: {{object.category}}</b><br>
    <b> Тип товара: {{object.type}}</b><br>
    <b> {% if object.country %} Страна производителя: {{object.country}} <br>{% endif %}</b>
    <b> {% if object.brand %}
        Бренд: {{object.brand}}<br>
        {% endif %}
    </b>
    <b> Видимость: {{object.enable}}</b><br>
    <b> {% if object.count %}
        Наличие товара: Товар есть на складе
        {% else %}
        Товара нет в наличии
        {% endif %}
    </b><br>
    <b> Поисковые запросы: {{object.search_terms}}</b><br>
    <b> Скидка в %: {{object.discount}}</b><br>
    <div class="row">
        <div class="col">
            <input type="number" id="add-to-cart" class="form-control" min="1" max="100" value="1">
        </div>
        <div class="col">
            <button class="btn btn-danger" onclick="addToCart()">Купить</button>
    </div>
</div>    
    {% comments_tag object %}
      <script>
        function addToCart() {
          console.log("click")
          quantity=document.getElementById("add-to-cart")
          console.log(quantity.value)
          window.location.href=`{% url 'order:view-cart' %}?good_id={{object.pk}}&quantity=${quantity.value}`
        }
      </script>    
{% endblock BODY %}