{% extends 'base.html' %}
{% block TITLE %}Добавить товар{% endblock TITLE %}
{% block BODY %}
<h1>Способы доставки:</h1>
<p>Курьером(только по Минску). Бесплатно при покупки от 100 р. При покупке до 100 р доставка курьером ПЛАТНАЯ 7 р.</p>
<p>Европочта/ Белпочта(по Беларуси). Доставка ПЛАТНАЯ согласно их тарифам.</p>
<p>Самовывоз(м уручье). Предварительно обязательно согласовать время и место</p>
<h1>Способ оплаты:</h1>
<p>Оплата по банковской карте через ерип</p>
<p>Наличными</p>
<p>Наложенный платеж</p>
<h2>Согласно Постановлению Совета Министров Республики Беларусь № 778 от 14.06.2002 не подлежат обмену следующие непродовольственные товары надлежащего качества: белье для новорожденных и детей ясельного возраста, мебель, предметы личной гигиены, игрушки, товары бытовой химии, печатные издания, товары для профилактики и лечения заболеваний в домашних условиях.
    При обнаружении заводского брака осуществляется замена товара на исправный. Но если мы приезжаем и товар оказывается исправным, то вы оплачиваете стоимость доставки 7 бел. руб.
    Согласно п. 3 статьи 467 Гражданского кодекса РБ, а также Постановлению Совета Министров Республики Беларусь №31 от 15.01.2009 г п.16 Вы вправе отказаться от товара, до момента покупки (оплаты товара), возместив понесенные расходы, связанные с доставкой в размере 7 бел. руб.</h2>
<h2>     
    Если заказанный товар временно отсутствует, мы обязательно сообщим Вам и поможем подобрать замену.
    Удачного выбора для Ваших детишек! </h2>
{% endblock BODY %}