{% extends 'base.html' %}
{% block TITLE %}Список категорий{% endblock TITLE %}
{% block BODY %}    
    <table border=1>
        <tr> 
            <td> № </td>
            <td> Имя категории </td>
            <td> Ссылка на категорию </td>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td> {{obj.pk}}</td>
            <td> {{obj.name}}</td>
            <td> <a href='../category-cbv/{{obj.pk}}'> просмотреть </a>
                <a href='../category-update-cbv/{{obj.pk}}'> редактировать </a>
                <a href='../category-delete-cbv/{{obj.pk}}'> удалить </a> </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock BODY %}