{% extends 'base.html' %}
{% block TITLE %}Типы{% endblock TITLE %}
{% block BODY %}    
    <table border=1>
        <tr> 
            <td> PK </td>
            <td> Name </td>
            <td> Actions </td>
        </tr>
        {% for obj in object_list %}
        <tr>
            <td> {{obj.pk}}</td>
            <td> {{obj.name}}</td>
            <td> <a href='../type-cbv/{{obj.pk}}'> просмотреть </a>
                <a href='../type-update-cbv/{{obj.pk}}'> редактировать </a>
                <a href='../type-delete-cbv/{{obj.pk}}'> удалить </a> </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock BODY %}