{% extends 'base.html' %}
{% block TITLE %}Категория{% endblock TITLE %}
{% block BODY %}
    
    <h1> Название категории: {{object.name}} </h2>
    <h2> Описание категории: {{object.description}}</h3>
    <img src="{{object.product_picture_med}}" class="img-thumbnail" width=100>    
    <table class="table table-bordered">
        <tr> 
            <td> Имя типа </td>
            <td> Действие </td>
        </tr>
        {% for type in object.category_rn.all %}
        <tr>
            
            <td> {{type.name}}</td>
            <td> <a href='{% url "category:view-type" pk=type.pk %}'> <i class="bi bi-eye"></i> </a>
                <a href='{% url "category:update-type" pk=type.pk %}'> <i class="bi bi-pen"></i> </a>
                <a href='{% url "category:delete-type" pk=type.pk %}'> <i class="bi bi-trash3"></i> </a> </td>
        </tr>
        {% endfor %}
    </table>    
{% endblock BODY %}