<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Category view</title>
</head>

<body>
    
    <h1> Название категории: {{object.name}} </h2>
    <h2> Описание категории: {{object.description}}</h3>
        
    <table border=1>
        <tr> 
            <td> № тип </td>
            <td> Имя типа </td>
            <td> Действие </td>
        </tr>
        {% for type in object.category_rn.all %}
        <tr>
            <td> {{type.pk}}</td>
            <td> {{type.name}}</td>
            <td> <a href='../type-cbv/{{type.pk}}'> просмотреть </a> </td>
        </tr>
        {% endfor %}
    </table>    
</body>
</html>