{% extends 'base.html' %}
{% block TITLE %}Категория{% endblock TITLE %}
{% block BODY %}
    
    <h1> Название категории: {{object.name}} </h2>
    <h2> Описание категории: {{object.description}}</h3>
        
    <table border=1>
        <tr> 
            <td> № тип </td>
            <td> Имя типа </td>
            <td> Действие </td>
        </tr>
        {% for type in object.category_rn.all %}
        <tr>
            <td> {{type.pk}}</td>
            <td> {{type.name}}</td>
            <td> <a href='{% url "category:view-type" pk=type.pk %}'> просмотреть </a>
                <a href='{% url "category:update-type" pk=type.pk %}'> редактировать </a>
                <a href='{% url "category:delete-type" pk=type.pk %}'> удалить </a> </td>
        </tr>
        {% endfor %}
    </table>    
{% endblock BODY %}